
<script src="~/Scripts/highcharts.js"></script>
<script src="~/Scripts/exporting.js"></script>
<script src="~/Scripts/jodistribution.js"></script>
<script src="~/Scripts/jodistribution.js"></script>
<script src="~/Scripts/pnerrordistribution.js"></script>
<div id="jodistribute"></div>
<div id="pnerrdistribute"></div>

<script>
    $(function () {
        JoDistribution.init('jodistribute', 'jo_num');
        pnerrordistribution.init('pnerrdistribute', 'jo_num');

    })
</script>