
<script src="~/Scripts/highcharts.js"></script>
<script src="~/Scripts/exporting.js"></script>
<script src="~/Scripts/jodistribution.js"></script>

<div id="jodistribute"></div>

<script>
    $(function () {
        JoDistribution.init('jodistribute', 'jo_num');
    })
</script>