
<script type="text/javascript" src="~/Scripts/lobi/jquery.ui.touch-punch.min.js"></script>
<script type="text/javascript" src="~/Scripts/lobi/moment.min.js"></script>
<script type="text/javascript" src="~/Scripts/lobi/daterangepicker.js"></script>
<script type="text/javascript" src="~/Scripts/lobi/fullcalendar.js"></script>
<script type="text/javascript" src="~/Scripts/schedule.js"></script>
<script type="text/javascript" src="~/Scripts/ajaxfileupload.js"></script>
<link href="~/Scripts/lobi/lobiadmin-with-plugins.css" rel="stylesheet" type="text/css" />
<link href="~/Scripts/lobi/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/popup.css" rel="stylesheet" type="text/css" />
<link href="~/Content/bootstrapfileinput.css" rel="stylesheet" type="text/css" />

<style>
    #addEventModal{
        position: fixed;
        top: 115px;
        left: 50px;
        right: 55px;
        background: #000; 
        opacity: 0.8;
        -moz-opacity: 0.8;
        filter: alpha(opacity=80);
    }
    .modal-backdrop{
        opacity: 0 !important;
        -moz-opacity: 0 !important;
        filter: alpha(opacity=0) !important;
    }
    .modal-dialog{
        color: #fff !important;
    }
    .modal-content, .modal-header, .modal-footer{
        background: #000 !important;
    }
    .modal-header{
        border: hidden !important;
    }
    .modal-footer{
        border: hidden !important;
    }
    .modal-content .form-group{
        margin-bottom: 30px;
    }
    .form-group input{
        color: #fff !important;
        border: #fff 2px solid !important;
        background-color: transparent !important;
        border-radius: 4px;
    }

    .form-group select{
        color: #ddd !important;
        border: #fff 2px solid !important;
        background-color: transparent !important;
        border-radius: 4px;
    }
    .form-group textarea{
        color: #fff !important;
        border: #fff 2px solid !important;
        background-color: transparent !important;
        border-radius: 4px;
    }
    .modal-footer button{
        width: 120px;
        float: right;
        margin: -10px 10px;
        height: 35px;
        background-color: transparent;
        border: #fff 2px solid;
        border-radius: 6px;
        color: #fff;
    }
    .modal-footer button:hover{
        color: #ddd !important;
        background-color: transparent !important;
        border: #fff 2px solid !important;
    }

    /*datepicker*/
    .daterangepicker{
        border: 1px solid #555 !important;
        background-color: #000 !important;
    }
    .daterangepicker .calendar-date {
        border: 2px solid #555;
        background: #000 !important;
    }
    .calendar-time select{
        color: #ddd !important;
        border: 1px solid #555 !important;
        background-color: transparent !important;
    }
    .ranges label{
        color: #fff !important;
        text-shadow: unset !important;
    }
    .ranges input{
        color: #fff !important;
        border: #ddd 1px solid !important;
        background-color: transparent !important;
        border-radius: 4px;
    }
    .ranges button {
        width: 60px;
        margin: 0 5px;
        height: 30px;
        background-color: transparent;
        border: #ddd 1px solid;
        border-radius: 4px;
        color: #fff;
    }
    .ranges button:hover{
        color: #ddd !important;
        background-color: transparent !important;
        border: #ddd 1px solid !important;
    }
    .daterangepicker .calendar td, .daterangepicker .calendar th {
        color: #666 !important;
    }
    .daterangepicker td.off {
        color: #333 !important;
    }
    .daterangepicker td.in-range {
        background: #ddd !important;
    }
    .daterangepicker.opensright::after {
        border-bottom: 6px solid #333 !important;
    }
</style>

<script>
    $(function () {
        Schedule.init("calendar-demo", "jo_num", "current_day");
    })
    function ShowFileNames(oFile) {
        $("#popup-btn-import").attr('disabled', 'disabled');
        $.ajaxFileUpload
        (
            {
                url: '/userfiles/ImageUpload.ashx',
                secureuri: false,
                fileElementId: 'file1',
                dataType: 'HTML',
                success: function (data) {
                    $("#popup-btn-import").removeAttr('disabled');
                    //result
                    var rst = '<div class="alert alert-danger" role="alert">'+
                                  '<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>'+
                                  '<span class="sr-only">Error:</span>'+
                                  'Enter a valid email address'+
                                '</div>';
                    $('.popup-result').append(rst);
                },
                error: function (e) {
                    $("#popup-btn-import").removeAttr('disabled');
                    window.alert("fail to upload file");
                }
            }
        );
        $('#filename').val(oFile.value);
    }
</script>

<div id="event-calendar">
    <div class="panel panel-light panel-cus">
        <div class="panel-body">
            <div id="calendar-demo"></div>
        </div>
    </div>
</div>

<div class="modal fade" id="addEventModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add event</h4>
            </div>
            <div class="modal-body">
                <form action>
                    <div class="form-group">
                        <label class="control-label">Event style</label>
                        <div class="btn-group btn-group-justified btn-group-event-style" data-toggle="buttons">
                            <label class="btn btn-primary active">
                                <input type="radio" name="style" value="bg-primary" checked> <i class="fa fa-check"></i>
                            </label>
                            <label class="btn bg-success text-white">
                                <input type="radio" name="style" value="bg-success"> <i class="fa fa-check"></i>
                            </label>
                            <label class="btn bg-danger text-white">
                                <input type="radio" name="style" value="bg-danger"> <i class="fa fa-check"></i>
                            </label>
                            <label class="btn bg-info text-white">
                                <input type="radio" name="style" value="bg-info"> <i class="fa fa-check"></i>
                            </label>
                            <label class="btn bg-warning text-white">
                                <input type="radio" name="style" value="bg-warning"> <i class="fa fa-check"></i>
                            </label>
                            <label class="btn bg-gray text-white">
                                <input type="radio" name="style" value="bg-gray"> <i class="fa fa-check"></i>
                            </label>
                            <label class="btn bg-cyan text-white">
                                <input type="radio" name="style" value="bg-cyan"> <i class="fa fa-check"></i>
                            </label>
                            <label class="btn bg-purple text-white">
                                <input type="radio" name="style" value="bg-purple"> <i class="fa fa-check"></i>
                            </label>
                            <label class="btn bg-pink text-white">
                                <input type="radio" name="style" value="bg-pink"> <i class="fa fa-check"></i>
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.DropDownList("title", (IEnumerable<SelectListItem>)ViewBag.titlelist, new { @id = "title", @class = "form-control" })
                    </div>

                    <div class="form-group">
                        <input type="text" name="date-period" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label class="control-label">Event description</label>
                        <textarea rows="3" class="form-control" name="desc"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary btn-add">Add event</button>
                <button type="button" class="btn btn-primary btn-danger">Remove event</button>
            </div>
        </div>
    </div>
</div>

<div class="popup hide popup-height" id="popup-import" tabindex="-1" style="height: 600px;">
    <div class="popup-dialog">
        <div class="popup-content">
            <div class="popup-header">
                <h1 class="popup-title">JO Schedule Import</h1>
            </div>
            <div class="popup-body">
                <div class="popup-row">
                    <div class="popup-input col-xs-9">
                        <input class="input-placeholder" id="filename" type="text">
                    </div>
                    <span id="choosefile" class="btn-file col-xs-3">
                        <span>Choose file</span>
                        <input name="files" id="file1" type="file" runat="server" onchange="ShowFileNames(this)" />
                    </span>
                </div>
                <div class="popup-row popup-result">

                </div>
            </div>
            <div class="popup-footer">
                <button type="button" class="btn btn-popup" id="popup-btn-import">Import</button>
                <button type="button" class="btn btn-popup" id="popup_cancel">Close</button>
            </div>
        </div>
    </div>
</div>