
@{
    ViewBag.Title = "BRReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="content">
    <div class="container">
        <div><h1 style="color:white;text-align:center"> BR Report</h1></div>
        
        <div style="padding: 2% 2% 5%; border-radius: 5px; border: 1px solid white; border-image: none; margin-right: 10%; margin-left: 10%;">

            <div class="col-xs-4"><label class="col-xs-3" style="color:white">Weeks</label>@Html.DropDownList("weeksselectlist", null, new { @id = "weeksselectlist", @class = "form-control", @style="width:60%" })</div>
            <div class="col-xs-4">@Html.DropDownList("pmselectlist", null, new { @id = "pmselectlist", @class = "form-control" })</div>
            <div class="col-xs-2"><input type="button" class="btn btn-success" value="Search" onclick="SearchReport()" /></div>
        </div>

        <script type="text/javascript">
            function SearchReport()
            {
                var pmval = ''
                if($('#pmselectlist').val() != null)
                {
                    pmval = $('#pmselectlist').val();
                }

                var weeks = $('#weeksselectlist').val();
                window.location.href = '/BRTrace/BRReport?PM=' + pmval + '&Weeks=' + weeks;
            }
        </script>

        @if (ViewBag.tablelist != null && ViewBag.tablelist.Count > 0)
        {
            foreach (var item in ViewBag.tablelist)
            {
                @Html.Raw(item);
            }
        }

        <div style='height:60px;width:60px;border-radius: 5px;position:fixed;bottom:40px;right:40px; border: 1px solid white; border-image: none;text-align:center;cursor:pointer;' data-toggle="tooltip" data-placement="center" title="Download BR report by email" onclick="SendReport()">
            <span class="glyphicon glyphicon-cloud-download" style="color:white;font-size:40px;"></span>
            <script type="text/javascript">
            function SendReport()
            {
                var pmval = ''
                if ($('#pmselectlist').val() != null) {
                    pmval = $('#pmselectlist').val();
                }
                var weeks = $('#weeksselectlist').val();
                $.post('/BRTrace/SendBRReport',
                    {
                        pm:pmval,
                        weeks: weeks
                    },
                    function (output) {
                        alert(output.msg);
                    });
            }
            </script>
        </div>
    </div>
</div>
<footer>
    <span class="col-xs-5"></span>
</footer>