
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pro-LEGO</title>
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
        <link href="~/Scripts/jquery-autocomplete/jquery.auto-complete.css" rel="stylesheet" type="text/css" />
        <script src="~/Scripts/jquery-3.2.1.min.js" type="text/javascript"></script>
        <script src="~/Scripts/bootstrap.min.js" type="text/javascript"></script>
        <script src="~/Scripts/jquery-autocomplete/jquery.auto-complete.min.js" type="text/javascript"></script>
        <script src="~/Scripts/prolego.js" type="text/javascript"></script>
    </head>

    <body>
        <div class="content">
            <div class="container">
                <div class="add-role">
                    <label>New Role</label>
                    <input type="text" class="form-control" id="new_role" name="new_role" />
                    <input type="button" class="add_role btn btn-primary" id="add_role" name="add_role" value="Add Role" />
                </div>
                <div class="add-members">
                    <label>Add Project Members</label>
                    <input type="text" class="form-control" id="pro-list" name="pro-list" autocomplete="off" />
                    <input type="text" class="form-control" id="role-list" name="role-list" autocomplete="off" />
                    <input type="button" class="btn btn-success add_member" id="add_member" name="add_member" value="Add Members" />
                </div>
                <div class="pro-members">
                    <div class="pro-mb-search">
                        <input type="text" class="form-control" id="search_keywords" />
                    </div>
                    <table>

                    </table>
                </div>
            </div>
        </div>
        <script>
            $(function () {
                ProLego.init();
            })
        </script>
    </body>
</html>
