<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    @if (Session["utheme"] == null || Convert.ToInt32(Session["utheme"]) == Nebula.Models.Theme.Dark)
    {
        <link href="~/Content/common.css" rel="stylesheet" />
    }
    else
    {
        <link href="~/Content/lcommon.css" rel="stylesheet" />
    }
    <link href="~/Content/simplebar.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script src="~/Scripts/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Scripts/theme.js" type="text/javascript"></script>

</head>
<body>
    <div class="login-theme-setting">
        <span class="glyphicon glyphicon-random span-theme-setting"></span>
    </div>
    @RenderBody()
    <script>
        $(function () {
            Theme.init();
        })
    </script>
</body>
</html>