
@{
    ViewBag.Title = "User Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}


<script src="~/Scripts/login.js" type="text/javascript"></script>

<script>
    $(function(){
        Login.init();
    })
</script>

<div id="login-body"></div>
<header>
    <span class="col-xs-3 logo"></span>
</header>
<div class="content">
    <div class="lcontainer">
        <div class="login-welcome">
            Welcome to BR System!
        </div>
        <div class="row login-form">
            <div class="col-xs-5">
                <div>
                    <input class="login-input" type="text" id="login_id" name="login_id" placeholder="Finisar Email" />
                </div>
                <div>
                    <input class="login-input" type="password" id="login_pwd" name="login_pwd" placeholder="Default Password : abc@123" />
                </div>
                <div>
                    <input class="login-btn" type="button" id="login-submit" name="login-submit" value="LOG IN" />
                </div>
                <div>
                    <input class="login-checkbox" type="checkbox" id="remember_me" name="remember_me" checked />
                    <span class="remember-me">Remember Me</span>
                    <div class="div-forget-pwd" style="display: inline-block;">
                        <a class="forget-pwd" href="#">Change password</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

